header {
	height: 100px;
	position: fixed;
}
nav {
	top: 130px;
	width:15%;  
	position: fixed;     
}
section {
	padding-top: 130px;
}
table, th, td {
	border: 1px solid black;
}

table {
	float: left;
}

.begin {
	clear: both;
	float: left;
}

.position {
	background-color: #000000;
	color: #ffffff;
	width: 70px;
	height: 70px;
}
.light {
	background-color: #F5DEB3;
	width: 70px;
	height: 70px;
}

.dark {
	background-color: #8B4513;
	width: 70px;
	height: 70px;
}
.cheker {
	width: 60px;
	height: 60px;
}


.rules {
	padding: 8px;
	background: #F5DEB3;
	float: right;
	width: 30%;
	height: 650px;
}
