header {
	height: 100px;
	position: fixed;
}
nav {
	top: 130px;
	width:15%;  
	position: fixed;     
}
section {
	padding-top: 130px;
}
table, th, td {
	border: 1px solid black;
}
.position {
	background-color: #000000;
	color: #ffffff;
	width: 90px;
	height: 90px;
}
.light {
	background-color: #F5DEB3;
	width: 90px;
	height: 90px;
}

.dark {
	background-color: #8B4513;
	width: 90px;
	height: 90px;
}
.cheker {
	width: 80px;
	height: 80px;
}
